/* 全局 */
body {
    margin: 0 auto;
    text-align: center;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}
span, i {
    pointer-events: none;
}
logo,tag,engine,book,top,li,button,.edit,.fa-mini {
    cursor: pointer;
}
logo,tag,engine,top,li {
    /* 禁止 换行 */
    white-space: nowrap;
    /* 隐藏 超出部分 */
    overflow: hidden;
    /* 省略号 替代 */
    text-overflow: ellipsis;
}
#login-zhuce,.edit {
    display: none;
}
.transparent {
    color: transparent !important;
    border-color: transparent !important;
}
.theme {
    color: #037DD8;
}
.theme-hover {
    color: #333 !important;
    background-color: #F5F6F9;
}


/* 字体栈 */
html,button,input,select,textarea{
    color: #333;
    font-size: 1.17em;
    font-family: Hiragino Sans GB,Roboto,Segoe UI,Microsoft Yahei,sans-serif;
    letter-spacing: 0.01em;
}

/* Safari */
input,button,textarea {
    margin: 0 auto;
}
#login input::-webkit-input-placeholder {
    line-height: 1.26em;
}

/* 字体大小 */
.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.fa-1x {
    font-size: 1em;
}
.fa-5x {
    font-size: 5.5em;
}
.fa-logo {
    font-size: 4.5em;
}
.fa-mini {
    display: block;
    font-size: 2.8em;
    color: #E6E7EC;
}
.fa-mini + .fa-mini {
    margin-top: 4px;
}

/* top */
#top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: transparent;
}
top {
    vertical-align: top;
    display: inline-block;
    width: 33.333333%;
    height: 3em;
    line-height: 3em;
}
top:hover {
    color: #666;
}

/* logo */
logo {
    display: block;
    margin: 6.18% auto 2em;
    width:  8em;
    height: 8em;
    line-height: 8em;
    border: 1px solid #E6E7EC;
    border-radius: 50%;
}
logo:hover {
    background-color: #F5F6F9;
}
logo span {
    font-size: 1.5em;
}

/* search */
#search-input,#search-button{
    vertical-align: bottom;
    font-size: 25px;
    padding: 8px;
    outline: 0;
}
#search-input {
    width: 61.8%;
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border: 1px solid #C0C0C0;
}
#search-input:hover {
    border-color: #999;
}
#search-input:focus {
    border-color: #037DD8;
}
#search-button {
    width: 3.9em;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border: 1px solid #037DD8;
    background-color: #037DD8;
    color: white;
}
#search-button:hover {
    box-shadow: 0 1px 4px #999;
}

/* more */
.li-hover {
    border-radius: 2px;
    background-color: #037DD8;
    color: #FFF;
}
.more-border {
    border-color: #037DD8 !important;
}
.more-radius {
    border-bottom-left-radius: 0 !important;
}
#more-ul li {
    margin: 1px;
}
#more-ul,#more-button {
    vertical-align: top;
    padding: 8px;
    outline: 0;
}
#more-ul {
    display: inline-block;
    text-align: left;
    width: 61.8%;
    margin: 0 auto;
    list-style: none;
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-style: none;
    font-size: 21px;
}
#more-button {
    width: 3.9em;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 25px;
}
#more-button i:hover {
    color: #037DD8;
}
#more-i {
    display: inline-block;
}

/* note */
#more-ul textarea {
    font-size: 1em;
    width: 100%;
    height: 15.666em;
    resize: none;
    border-style: none;
    overflow-y: hidden;
}
#more-ul textarea:focus {
    overflow: auto;
    background-color: #F5F6F9;
    outline-color: #C0C0C0;
}

/* engine */
#engine,#book,#login {
    display: none;
    margin: 3em auto 0;
}
tag {
    display: inline-block;
    width: 19%;
    font-size: 21px;
    padding: 1.5em 0;
    color: #666;
}
tag:hover {
    background-color: #F5F6F9;
}
engine {
    vertical-align: bottom;
    display: inline-block;
    width: 6.5em;
    height: 6.5em;
    line-height: 6.5em;
    border-radius: 50%;
    color: #666;
}
engine span {
    font-size: 1.2em;
}

/* book */
book {
    vertical-align: top;
    display: inline-block;
    margin: 0.5em;
    font-size: 1.2em;
    width: 1.2em;
    height: 7em;
    word-wrap: break-word;
    letter-spacing: 0.5em;
    line-height: 1.41em;
    overflow: hidden;
}
book:hover {
    background-color: #F5F6F9;
    outline: #E6E7EC solid thin;
}

/* edit */
.edit input {
    width: calc(100% - 4em);
    border-style: none;
    outline: 0;
}
.edit inputbox {
    width: 90%;
}
.edit span {
    display: inline-block;
    width: 4em;
}
.edit-hover {
    color: #FFF !important;
    background: #037DD8 !important;
}
.edit-btn {
    display: inline-block;
    width: 33%;
    padding: 0.5em 0;
    margin: 0.5em 0;
    border-top: 1px solid #9DA3A6;
    border-bottom: 1px solid #9DA3A6;
}
.edit-btn + .edit-btn {
    border-left: 1px solid #9DA3A6;
}
.edit-btn:hover {
    color: #037DD8;
}

/* login */
.btn-white {
    background-color: #FFF;
    color: #8590A6;
    border: 1px solid #9DA3A6;
}
.btn-white:hover {
    background-color: rgba(207,216,230,.1);
}
.btn-blue {
    background-color: #037DD8;
    color: white;
    border: 1px solid #037DD8;
}

inputbox {
    display: block;
    margin: 0 auto;
    border: 1px solid #9DA3A6;
    border-radius: 0;
    color: #8590A6;
}
inputbox + inputbox {
    border-top-style: none;
}
inputbox:first-of-type {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
inputbox:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.text {
    width: 70%;
    margin: 0 auto 1em;
    padding: 8px;
    color: #037DD8;
}
#login inputbox {
    width: calc(70% + 14px);
}
#login i {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
}
#login i {
    font-size: 1.33333333em;
}
#login input {
    vertical-align: middle;
    -webkit-appearance: none;
    border-radius: 0;
    width: calc(100% - 60px);
    padding: 8px 0;
    outline: 0;
    border-style: none;
}
#login button {
    width: 35%;
    padding: 6px 0;
    margin-top: 1em;
    border-radius: 4px;
    outline-style: none;
}
#login-btn-zhuce {
    margin-right: 8px;
}
#login-btn-denglu {
    margin-left: 8px;
}
#login-zhuce input {
    width: 65%!important;
}
#login-zhuce span {
    vertical-align: middle;
    display: inline-block;
    width: calc(35% - 31px);
    border-left: 1px solid #9DA3A6;
}

/* 媒体查询 >= 768px */
@media (min-width: 768px) {
    .fa-logo {
        font-size: 5.5em;
    }
    #engine,#book {
        width: 85%;
    }
    #search-input, #more-ul {
        width: 38.2%;
    }
    engine {
        width: 8em;
        height: 8em;
        line-height: 8em;
        margin: 0.5em;
        border: 1px solid transparent;
    }
    engine:hover {
        background-color: #F5F6F9;
        border: 1px solid #E6E7EC;
    }
    engine span, book {
        font-size: 1.5em;
    }
    #login inputbox {
        width: calc(30% + 14px);
    }
    #login input,#login-hint {
        width: calc(100% - 60px);
    }
    #login button {
        width: 15%;
    }
}
