/* global */
html, button, input, select, textarea, a {
    font-family: SF UI Text,Hiragino Sans GB,Roboto,Segoe UI,Microsoft Yahei,sans-serif;
    letter-spacing: 0.01em;
}
button, input, select, textarea, a {
    font-size: 1em;
    -webkit-appearance: none;
    margin: 0 auto;
    background-color: transparent;
}
body {
    margin: 0 auto;
    background: white url(ku/bg.png) repeat;
}
a {
    color: #08c;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid rgba(23,81,153,.72);
}

/* code */
code {
    border: 0;
    background-color: #D6DBDF;
    border-radius: 4px;
    color: #2C3E50;
    padding: 2px 4px;
}
pre, code {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}
pre {
    display: block;
    padding: 9.5px;
    letter-spacing: 0.02em;

    /*word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;*/

    background-color: rgba(102,128,153,.05);
    border: 1px solid #ddd;
    border-radius: 5px;
}
pre code {
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
}

/* table */
table {
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-radius: 4px;
}
table td {
    border-top: 1px solid #ddd;
}
table td, table th {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
}
tbody>tr:nth-child(2n+1)>td, tbody>tr:nth-child(2n+1)>th {
    background-color: rgba(102,128,153,.05);
}
td + td, th + th {
    border-left: 1px solid #ddd;
}

/* button */
.btn {
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid transparent;
}
.btn-new {
    font-weight: bold;
    width: 30px;
    height: 30px;
    padding: 0;
    color: #537F7E;
    outline-style: none;
}
.btn-new:hover {
    color: #DF4751;
}
.btn-footer {
    color: #BBB;
    padding: 0 12px;
    font-size: 0.88em;
}
.btn-footer:hover {
    color: #dadada;
}

/* box */
#box {
    margin: 1.7% auto 50px;
    width: 100%;
    border: 1px solid #dadada;
    border-top: 10px solid #788396;
    padding: 5%;
    box-sizing: border-box;
    box-shadow: 0 1px 3px #dadada;
    overflow: hidden;
    color: #262626;
    /*background-color: #fafafa;*/
}
#md .c {
    margin: 8px auto;
}
#zx {
    position: fixed;
    z-index: 6;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
#zx-toggle {
    cursor: pointer;
    text-align: right;
    padding: 0 3%;
}
#toggle {
    height: 20px;
}
#zx-button {
    display: none;
    background-color: #333;
    height: 40px;
    line-height: 40px;
}

textarea.normal {
    width: calc(100% - 30px);
    background-color: #2C3E50;
    color: #BBB;
    /* textarea */
    resize: none;
    border-style: none;
    outline-style: none;
    height: auto;
    border-radius: 3px;
    padding: 5px;
}

/* self-adaption */
@media (min-width: 768px) {
    body, .ace_editor {
        font-size: 1.17em;
    }
    #box {
        width: 80%;
    }
}
