/* 全局 */
body {
    margin: 0 auto;
    text-align: center;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    background: white url(img/paper.png) repeat center top;
}
span, i, #edit-btn div, #login-information input {
    pointer-events: none;
}
logo, tag, engine, book, top, a, li, button, i.sms, .fa-mini, #login-name ~ i, #login-key ~ i,#login-information inputbox {
    cursor: pointer;
}
logo, tag, engine, top, li {
    /* 禁止 换行 */
    white-space: nowrap;
    /* 隐藏 超出部分 */
    overflow: hidden;
    /* 省略号 替代 */
    text-overflow: ellipsis;
}
#engine, #book, #login, #edit-cont, #login-zhuce {
    display: none;
}
#engine, #book {
    margin: 3em auto 0;
}
.transparent {
    color: transparent !important;
    border-color: transparent !important;
}
.theme {
    color: #037DD8;
}

/* 字体栈 */
html, button, input, select, textarea{
    color: #333;
    font-size: 1.17em;
    font-family: Hiragino Sans GB,Roboto,Segoe UI,Microsoft Yahei,sans-serif;
    letter-spacing: 0.01em;
}

/* Safari */
input, button, textarea {
    -webkit-appearance: none;
    margin: 0 auto;
    background-color: transparent;
}
input::-webkit-input-placeholder {
    line-height: 1.25em;
}

/* 字体大小 */
.fa-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.fa-1x {
    font-size: 1em;
}
.fa-2x {
    font-size: 2em;
}
.fa-5x {
    font-size: 5.5em;
}
.fa-logo {
    font-size: 4.5em;
}
.fa-mini {
    display: block;
    font-size: 2.8em;
    color: rgba(15,32,65,.2);
}
.fa-mini + .fa-mini {
    margin-top: 4px;
}
.text {
    margin: 1em auto;
    padding: 8px;
    color: #037DD8;
}
.tan {
    position:relative;
    top: 50%;
    transform: translateY(-61.8%);
    width: 95%;
    margin: 0 auto;
}

/* top */
#top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: transparent;
}
top {
    vertical-align: top;
    display: inline-block;
    width: 33.333333%;
    height: 3em;
    line-height: 3em;
}
top:hover {
    color: #666;
}

/* logo */
logo {
    display: block;
    margin: 6.18% auto 2em;
    width:  8em;
    height: 8em;
    line-height: 8em;
    border: 1px solid #E6E7EC;
    border-radius: 50%;
}
logo:hover {
    background-color: #F5F6F9;
}
logo span {
    font-size: 1.5em;
}

/* search */
#search-input, #search-button{
    vertical-align: bottom;
    font-size: 25px;
    padding: 8px;
    outline: 0;
}
#search-input {
    background-color: white;
    width: calc(61.8% - 22px);
    border-top-left-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border: 1px solid #C0C0C0;
    padding-right: 30px;
}
#search-input ~ a {
    display: none;
    position: absolute;
    font-size: 25px;
    padding: 9px 0;
    margin: 0 0 0 -30px;
    color: #D6DBDF;
}
#search-input:hover {
    border-color: #999;
}
#search-input:focus {
    border-color: #037DD8;
}
#search-button {
    width: 3.9em;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border: 1px solid #037DD8;
    background-color: #037DD8;
    color: white;
}
#search-button:hover {
    box-shadow: 0 1px 4px #999;
}

/* more */
.li-hover {
    border-radius: 2px;
    background-color: #037DD8;
    color: #FFF;
}
.more-border {
    border-color: #037DD8 !important;
    background-color: #FFF;
}
.more-radius {
    border-bottom-left-radius: 0 !important;
}

#more-ul li {
    margin: 1px auto;
}
#more-ul, #more-button {
    vertical-align: top;
    padding: 8px;
    outline: 0;
}
#more-ul {
    display: inline-block;
    text-align: left;
    width: 61.8%;
    margin: 0 auto;
    list-style: none;
    border: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-style: none;
    font-size: 21px;
}
#more-button {
    width: 3.9em;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 25px;
}
#more-button:hover {
    color: #037DD8;
}
#more-i {
    display: inline-block;
}
#more-i i {
    pointer-events: auto;
}

/* note */
#more-ul textarea {
    font-size: 1em;
    width: 100%;
    height: 15.666em;
    resize: none;
    border-style: none;
    overflow-y: hidden;
    outline: 0;
}
#more-ul textarea:focus {
    overflow: auto;
}

/* engine */
.kind {
    border-top: 3px dashed rgba(15,32,65,.2);
    border-bottom: 3px dashed rgba(15,32,65,.2);
}
tag {
    display: inline-block;
    width: 20%;
    font-size: 21px;
    padding: 1.5em 0;
    color: #666;
}
tag:hover {
    background-color:rgba(245, 246, 249, 0.76);
    color: #555;
}
engine {
    vertical-align: bottom;
    display: inline-block;
    width: 6.5em;
    height: 6.5em;
    line-height: 6.5em;
    border-radius: 50%;
    color: #666;
    border: 1px solid transparent;
}
engine:hover {
    border-color:#E6E7EC;
}
engine span {
    font-size: 1.2em;
}

/* book */
#book .show {
    margin: 0 auto;
    width: 95%;
}
book {
    vertical-align: top;
    display: inline-block;

    font-size: 1.2em;
    width: 1.2em;
    height: 7em;
    margin: 0.5em 0.1em;
    padding: 0 0.4em;
    letter-spacing: 0.5em;

    word-wrap: break-word;
    line-height: 1.41em;
    overflow: hidden;

    border: 1px solid transparent;
    border-radius: 2px;
}
book:hover {
    background-color: rgba(230, 231, 236, 0.66);
    border-color: #E6E7EC;
}

/* edit */
.edit-hover {
    border-color: #E6E7EC !important;
    background-color: rgba(230, 231, 236, 0.66) !important;
    color: #333;
}
#edit-full {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#edit-cont {
    background: white url(img/paper.png) repeat center top;
    opacity: 0.98;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#edit-ul {
    z-index: 2;
    position:absolute;
    display: none;
    list-style: none;
    padding: 8px 0;
    width: 160px;
    line-height: 2.5em;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #333;
    color: #D1D1D1;
    box-shadow: 0 1px 4px 0 rgba(15,32,65,0.2);
}
#edit-ul i {
    display: inline-block;
    width: 30px;
}
#edit-ul li:hover {
    background-color: rgba(59,147,255,0.06);
}
#edit-val {
    border: 3px dashed #8590A6;
    border-radius: 15px;
    margin: 1em auto;
    padding: 1em .5em 1em 0;
}
#edit-val i {
    font-size: 1.333333em;
}
#edit-val span {
    vertical-align: top;
    display: inline-block;
    width: 4em;
    margin: 0 auto;
    padding: 4px;
    color: #8590A6;
    border: 1px solid transparent;
    font-size: 1.17em;
}
#edit-val input, #edit-val textarea {
    display: inline-block;
    width: calc(100% - 4em - 21px);
    border-radius: 3px;
    border-style: none;
    outline-style: none;
    padding: 4px;
}
#edit-val textarea {
    color: #B1B7CA;
    overflow-y: hidden;
    resize: none;
    height: auto;
}
#edit-btn button {
    outline: 0;
    font-size: 1em;
    margin: 0 1em;
}
#edit-val .url {
    margin-bottom: 1.5em;
}

/* login */
.btn {
    vertical-align: middle;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
}
.btn-white {
    color: #8590A6;
    background-color: #FFF;
    border-color: #9DA3A6;
}
.btn-white:hover {
    background-color: #F5F6F9;
}
.btn-blue {
    color: #FFF;
    background-color: #037DD8;
    border-color: #0771C1;
}
.btn-blue:hover {
    background-color: #0771C1;
    border-color: #0363AC;
}
.btn-red {
    color: #FFF;
    background-color: #D9534F;
    border-color: #D43F3A;
}
.btn-red:hover {
    background-color: #C9302C;
    border-color: #AC2925;
}

inputbox {
    display: block;
    margin: 0 auto;
    border-radius: 0;
    border-style: none;
    border-top: 1px dashed #9DA3A6;
    border-bottom: 1px dashed #9DA3A6;
    color: #8590A6;
}
inputbox + inputbox {
    border-top-style: none;
}
inputbox i {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    pointer-events: auto;
}
inputbox input {
    vertical-align: middle;
    border-radius: 0;
    width: calc(100% - 60px);
    padding: 8px 0;
    outline: 0;
    border-style: none;
}

#login inputbox {
    width: calc(70% + 14px);
}
#login i {
    font-size: 1.333333em;
}
#login button {
    width: 35%;
    padding: 6px 0;
    margin: 1em auto;
    outline-style: none;
}
#login-zhuce input {
    width: 65%!important;
}
#login-zhuce span {
    vertical-align: middle;
    display: inline-block;
    width: calc(35% - 31px);
    border-left: 1px solid #9DA3A6;
}
#login-information {
    display: none;
}
#login-information input {
    text-align: center;
    color: #8590A6;
}
#login-information inputbox:hover {
    color: #037DD8;
}
#login-btn .zhuce {
    margin-right: 8px;
}
#login-btn .dengl {
    margin-left: 8px;
}
/* 媒体查询 >= 768px */
@media (min-width: 768px) {
    .tan {
        width: 65%;
    }
    .half {
        display: inline-block;
        width: 50%;
    }
    .fa-logo {
        font-size: 5.5em;
    }
    #more-ul {
        width: 38.2%;
    }
    #search-input {
        width: calc(38.2% - 22px);
    }
    #book, #engine {
        width: 85%;
    }
    #book .show {
        width: auto;
    }
    engine {
        width: 8em;
        height: 8em;
        line-height: 8em;
        margin: 0.5em;
    }
    engine span ,book {
        font-size: 1.5em;
    }

    #login button {
        width: 15%;
    }
    #login inputbox {
        width: calc(30% + 14px);
    }
    #edit-cont input, #edit-cont textarea {
        width: calc(100% - 4em - 21px);
    }
}
